extends master
block content 
    form(action="/" method="POST" id="agregar-url")
        legend Añade tu URL en el siguiente formulario
        .campo
            input(type="url" name="urlOriginal" id="urlOriginal" placeholder="Añade tu URL" required)
        .campo.enviar
            input(type="submit" class="btn" value="Acortar")