<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Acortador de URL's
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/app.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap")
    body
        h1 Acortador de URL's

        main
            block content
        script(src="js/scripts.js")